<!DOCTYPE html>
<html>
  <head>
    <title>New Tasklist</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="/js/create_tasklist.js"></script>
  </head>
  <body>
    <h1>New Tasklist</h1>
    <p><%= message %></p>
    <form id='taskform' action='/tasks/create_tasklist' method='post'>
      List Name: <input type='text' name='listname' placeholder='Name of your task list' maxlength='26' required><br>
      <input type='button' onclick="history.back()" value='Cancel' style='margin-bottom:12px'>
      <input type='submit' value='Save!'><br>
      Task: <input type='text' id='newtask' placeholder='Enter task' maxlength='45'><br>
      Due: <input type='datetime-local' id='newdeadline'>
      <input type='button' onclick="addTask()" value='Add'><br>

      <ul id='tasklist'>
      </ul>
    </form>

  </body>
</html>