<!DOCTYPE html>
<html>
  <head>
    <title>New Tasklist</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/create_tasklist.js"></script>
  </head>
  <body>
    <h1>New Tasklist</h1>
    <p><%= message %></p>
    <form id='taskform' action='/tasks/create_tasklist' method='post'>
      <input type='text' name='listname' placeholder='Name of your task list' required><br>
      <input type='text' id='newtask' placeholder='Enter task'>
      <input type='button' onclick="addTask()" value='Add'><br>
      <input type='button' onclick="history.back()" value='Cancel'>
      <input type='submit' value='Save!'>

      <ul id='tasklist'>
      </ul>
    </form>

  </body>
</html>