<!DOCTYPE html>
<center>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href='/login'>Login</a> or <a href='/register'>Register</a></p>
    <p><%= message %></p>
  </body>
</html>
</center>
