/* DEPRESSING ENV */
body {
  background-color: #d4d4d4;
}

/* Timer */
#countdown{
  color: #676464;
  display: none;
  text-align: center;
  position: absolute;
}

.time {
  font-size: 30px;
  color: #4e4e4e;
  padding: 0px 7px 0px 7px;
  display: inline-block;
}

.containers{
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
}

.timetext{
  font-size: 15px;
}

/* Div for marking current task finished */
#finishedCircleDiv {
  display: none;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background: #4eca45;
  top: 12.5px;
  left: 840px;
}

#checkmark {
  position: relative;
  border-color: white;
  border-style: solid;
  border-width: 0 3px 3px 0;
  top: 9px;
  left: 18px;
  transform: rotate(45deg);
  height: 22px;
  width: 10px;
  cursor: pointer;
}

#finishedCircleDiv:hover, #finishedCircleDiv:hover #checkmark {
  border-color: #5a5a5a;
  cursor: pointer;
}

/* Tasks */
.task-bar {
  width: 210px;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px 20px 0px 0px;
  font-family: 'Roboto Mono', monospace;
}

.date-informal {
  width: 70px;
  position: relative;
  top: 0px;
  right: 0px;
  text-align: right;
  margin: 0px;
  font-family: 'Roboto Mono', monospace;
}

.date-bar {
  display: none;
}

.completed-bar {
  display: none;
}

.tasksOnBar {
  display: none;
  position: absolute;
  right: 150px;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
  padding: 15px 15px 15px 15px;
  background-color: #ececec;
  height: 40px;
  width: 300px;
  z-index: 3;
  color: black;
}

.tasksOnBar:hover {
  cursor: pointer;
  background-color: white;
}

.current {
  border-width: 3px;
  width: 298px;
  z-index: 5;
  color: red;
  border-color: red;
  background-color: white;
}

#workingOn {
  display: none;
}

/* Status */
#youare {
  display: none;
  position: absolute;
  width: 200px;
  font-size: 50px;
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
}

#done {
  display: none;
  position: absolute;
  width: 200px;
  font-size: 50px;
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
}

#status {
  display: none;
  position: absolute;
  width: 200px;
  font-size: 75px;
  text-align: center;
  font-family: 'IBM Plex Serif', serif;
  color: #d40000;
}

/* Snowmen */
#snowman1 {
  display: none;
  position: absolute;
  width: 400px;
  bottom: 150px;
  left: 200px;
}

#snowman2 {
  display: none;
  position: absolute;
  width: 400px;
  bottom: 150px;
  left: 200px;
}

#snowman3 {
  display: none;
  position: absolute;
  width: 400px;
  bottom: 150px;
  left: 200px;
}

#snowman4 {
  display: none;
  position: absolute;
  width: 400px;
  bottom: 150px;
  left: 200px;
}