/* NEUTRAL ENV */
/* Tasks */
.task-bar {
  width: 400px;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px 20px 0px 0px;
  font-family: 'Roboto Mono', monospace;
}

.date-informal {
  width: 80px;
  position: relative;
  top: 0px;
  right: 0px;
  text-align: right;
  margin: 0px;
  font-family: 'Roboto Mono', monospace;
}

.date-bar {
  display: none;
}

.completed-bar {
  display: none;
}

.tasksOnBar {
  display: none;
  position: absolute;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
  padding: 15px 15px 15px 15px;
  background-color: white;
  height: 40px;
  width: 500px;
  z-index: 3;
  color: black;
}

.tasksOnBar:hover {
  cursor: pointer;
  background-color: white;
}

.current {
  border-width: 3px;
  width: 498px;
  z-index: 5;
  border-color: red;
}

/* Checkboxes */
.checkbox {
  display: none;
  position: absolute;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 8px;
  margin: 10px 10px 10px 0px;
  padding: 5px;
  background-color: white;
  height: 25px;
  width: 25px;
  z-index: 3;
}

.checkbox:hover {
  cursor: pointer;
}

.checkmark {
  display: none;
  position: relative;
  border-color: black;
  border-style: solid;
  border-width: 0 3px 3px 0;
  top: -3px;
  left: 6px;
  transform: rotate(45deg);
  height: 22px;
  width: 10px;
  cursor: pointer;
}

div.checked {
  text-decoration: line-through;
  font-style: italic;
  background-color: #6ed06e;
  color: black;
  border-width: 2px;
  width: 500px;
  z-index: 3;
  border-color: gray;
}

/* Save button */
#savetasks {
  position: absolute;
  display: none;
  color: white;
  background-color: #b8babd;
  width: 140px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;  /* same as div height */
  top: 100px;
}

#savetasks:hover {
  cursor: pointer;
  background-color: green;
}

#workingOn {
  display: none;
}