/* STRESSFUL ENV */
body {
  background-color: #ff3636;
}

/* Overriding Button CSS */
.dropbtntasks {
  background-color: #ff8888;
}

.dropbtntasks.unfinished:hover, .dropbtntasks:focus {
  background-color: #a00708;
}

#homebtn {
  background-color: #b1a5a5;
}

#skinbtn {
  background-color: #b1a5a5;
}

#skinbtn:hover, #skinbtn:focus {
  background-color: #a00708;
}

/* Timer */
#countdown{
  /*font-family: sans-serif;*/
  color: white;
  display: none;
  /*font-weight: 100;*/
  text-align: center;
  /*font-size: 30px;*/
  position: absolute;
}

.time {
  font-size: 60px;
  color: black;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
}

.colon {
  font-size: 60px;
  color: black;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
}

.containers{
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
}

.timetext{
  padding-top: 5px;
  font-size: 16px;
}

.colonspace{
  padding-top: 5px;
  font-size: 16px;
  color: #ff3636;
}

/* Div for marking current task finished */
#finishedCircleDiv {
  display: none;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  /*background: #00d41e;*/
  background: black;
  top: 250px;
  left: 650px;
}

#checkmark {
  position: relative;
  border-color: #00ff33;
  border-style: solid;
  border-width: 0 5px 5px 0;
  top: 20px;
  left: 38px;
  transform: rotate(45deg);
  height: 40px;
  width: 20px;
  cursor: pointer;
}

#finishedCircleDiv:hover {
  background: #52b13d;
}

#finishedCircleDiv:hover, #finishedCircleDiv:hover #checkmark {
  border-color: white;
  cursor: pointer;
}

/* Tasks */
.task-bar {
  width: 190px;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0px 10px 0px 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.date-informal {
  width: 70px;
  position: relative;
  top: 0px;
  right: 0px;
  text-align: right;
  margin: 0px;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
}

.date-bar {
  display: none;
}

.completed-bar {
  display: none;
}

.taskoption {
  display: none;
  position: absolute;
  left: 50px;
  border-width: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 8px;
  margin: 10px 0px 10px 0px;
  padding: 15px 15px 15px 15px;
  background-color: #bdbdbd;
  height: 30px;
  width: 270px;
  z-index: 3;
  color: black;
}

.taskoption:hover {
  cursor: pointer;
  background-color: white;
}

.current {
  border-width: 3px;
  width: 268px;
  z-index: 5;
  color: red;
  border-color: #585858;
  background-color: white;
}

.finished {
  color: green;
  font-style: italic;
}

#workingOn {
  position: absolute;
  display: none;
  font-style: bold;
  font-size: 30px;
  text-align: center;
  width: 600px;
}