body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; /* black */
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s; /* 0.5 sec transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* when hovering over navigation links */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* adding a task list */
ul {
  padding: 0px;
  margin: 0px;
}

/* list items */
li {
  cursor: pointer;
  list-style-type: none;
  font-size: 18px;
  background: #eee;
  padding: 12px 8px 12px 40px;
  position: relative;
  transition: 0.2s; /* delay when li properties change */
}

/* all odd list items are different shade of gray */
li:nth-child(odd) {
  background: #f9f9f9;
}

/* change background color when hovering on a list item */
li:hover {
  background: #ddd;
}

/* change background color when clicking on a list item */
li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* create a check (rotated box) to add before the list item */
li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background: red;
  color: white;
}