body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; /* black */
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s; /* 0.5 sec transition effect to slide in the sidenav */
}

.sidenav .section {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  margin: 12px 0px 0px 0px;
}

.sidenav .menulist {
  padding: 8px 8px 8px 48px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  margin: 0px;
  transition: 0.3s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* when hovering over navigation links */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* adding a task list */
ul {
  padding: 0px;
  margin: 0px;
}

/* list items */
li {
  cursor: pointer;
  list-style-type: none;
  font-size: 18px;
  background: #eee;
  padding: 12px 8px 12px 40px;
  position: relative;
  transition: 0.2s; /* delay when li properties change */
}

/* all odd list items are different shade of gray */
li:nth-child(odd) {
  background: #f9f9f9;
}

/* change background color when hovering on a list item */
li:hover {
  background: #ddd;
}

/* change background color when clicking on a list item */
li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* create a check (rotated box) to add before the list item */
li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* 'x' button to remove a task from a tasklist */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background: red;
  color: white;
}

/* positioning of task deadlines */
.deadline {
  position: absolute;
  top: 0px;
  right: 100px;
  padding-top: 12px;
  color: #de0000;
}

/* dropdown for selecting environment */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 300px;
  height: 80px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

/* dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Environment CSS */
.backhome {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}

#homebtn {
  text-decoration: none;
  display: block;
  padding: 16px;
  width: 150px;
  height: 55px;
  font-size: 14px;
  background-color: #b8babd;
  color: white;
  cursor: pointer;
}

#homebtn:hover, #homebtn:focus {
  background-color: #2980b9e3;
}

#skin {
  top: 0;
  right: 0;
}

#skinbtn {
  width: 185px;
  height: 55px;
  font-size: 14px;
  background-color: #b8babd;
}

#skinbtn:hover, #skinbtn:focus {
  background-color: #db3434bf;
}

/* Dropdown menu for selecting current task */
.dropbtntasks {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 300px;
  height: 80px;
}

.dropbtntasks.finished {
  background-color: #c5c5c5;
}

.unfinished {
  background-color: #f13c3c;
  cursor: pointer;
}

.dropbtntasks.unfinished:hover, .dropbtntasks:focus {
  background-color: #f30d0d;
} 

/* The container <div> - needed to position the dropdown content */
.dropdownTasks {
  position: absolute;
  display: inline-block;
}

.dropdown-content-tasks {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

/* dropdown links */
.taskobj {
  color: black;
  padding: 12px 16px;
  display: block;
  margin: 0;
}

/* Change color of dropdown links on hover */
.taskobj:hover {background-color: #f1f1f1}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* STRESSFUL ENV */
/* Timer */
#countdown{
  /*font-family: sans-serif;*/
  color: #676464;
  display: none;
  /*font-weight: 100;*/
  text-align: center;
  /*font-size: 30px;*/
  position: absolute;
}

.time {
  font-size: 60px;
  color: #ffefef;
  padding: 15px;
  border-radius: 3px;
  background: #ff1111;
  display: inline-block;
}

.containers{
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
}

.timetext{
  padding-top: 5px;
  font-size: 16px;
}

/* list of tasks on the side */
#alltasks {
  position: absolute;
  top: 100px;
  left: 25px;
  width: 400px;
}

.taskoption {
  margin: 10px;
  width: 380px;
  position: relative;
}

.task-description {
  position: relative;
  /*width: 200px;*/
}

.task-deadline {
  position: relative;
  color: blue;
  /*right: 0px;*/
  /*width: 180px;*/
}

.task-description.expired {
  text-decoration: line-through;
}

.expired {
  color: red;
  font-style: italic;
}

#workingOn {
  position: absolute;
  display: none;
  font-style: bold;
  font-size: 30px;
  text-align: center;
}